# ===== Common =====
.DS_Store
*.log
.idea/
.vscode/
*.iml

# ===== Flutter / Dart =====
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS / macOS
**/ios/Pods/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*

# ===== Node backend (nếu bạn dùng Node/Express) =====
**/node_modules/
**/.env
**/dist/
**/coverage/
